html{
	body{
		header{
			text-align: center;
		    text-transform: uppercase;
		    background-color: #5bc0de;
		    color: white;
		    height: 60px;
		    font-size: xx-large;
		}
		.container{
			margin-top : 50px;
			.add-btn{
				margin : 0 auto;
				width: 110px;
				margin-top: 20px;
			}
			.list-content{
				margin-top: 50px;
				text-align: center;
				h3{
					color : #5bc0de;
				}
				.header-row{
				    background-color: black;
				    color: white;
				    margin-bottom: 15px
				}
				.item-row{
					background-color: aliceblue;
					margin-bottom: 10px;
				}
			}
		}
	}
}